

#container{
    margin : 20px auto;
    height: 530px;
    width : 310px;
    border-radius: 5px;
    box-shadow: 0px 5px 15px 0px;
    position: relative;
    padding-top:50px;
    background-image: linear-gradient(to right, rgb(65, 42, 199) , rgb(93, 148, 199));
}
#vold h5{
    font-family: 'Times New Roman', Times, serif;
    font-size: small;
    font-weight: bold;
}
#login{
    margin-top: 100px;
    text-align: center;
    width: 310px;  
    border-radius: 10px;  
}
#login input{
    border: rgb(8, 8, 8);
    box-sizing: border-box;
}
#login button{
    margin-top: 10px;
}
#start{
    font-size: 1.5em;
    font-weight: bolder;
    word-break: break-all;
    width:100px;
    height:150px;
    margin: auto;
    padding-top: 30px;
    border : 2px solid rgb(119, 163, 163);
    background-color: rgb(135, 182, 182);
    text-align: center;
    cursor: pointer;
    

    margin: auto;
    color : lightgrey;
}
#start:hover{
    border: 3px solid #00664e;
    background-color:  #00664e;
 
}
#vold{
    text-align: center;
    font-weight: bolder;
    margin-top: 100px;
}
#qImg{
    width : 310px;
    height : 60px;
    position: absolute;
    background-image: linear-gradient(to right, rgb(95, 95, 97) , rgb(89, 90, 92));
    padding-left: 2px;   
    font-weight: bolder;
    left : 0px;
    top : 0px;
    text-align: center;
  
}


#qImg p{

    padding-top: 10px;
    font-size: 20px;
    
    margin-right: 30px;
    color: rgb(247, 243, 243);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#question{
    width:310px;
    height : 130px;
    position: absolute;
    right:0;
    top: 120px;
    padding-top: 40px;
    text-align: center;
}
#question p{
    margin : 0;
    padding : 15px;
    font-size:medium;
    font-weight: bolder;
    color: #f6f6f6;
}

#choices{
    width : 310px;
    height: 220px;
    position: absolute;
    right : 0;
    top : 230px;
    padding-left : 10px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: left;
   
    
    
}
.choice{
    
    width : 250px;
    height: 200px;
    color: rgb(14, 12, 12);
    margin-left: 20px;
    font-size: small;
    background-image: linear-gradient(to right, rgb(214, 214, 218) , rgb(199, 201, 202)); 
    border-radius: 5px;
    cursor: pointer;
    padding : 5px;
    margin-top: 10px;
    

}




#nextDiv{
    
    width: 310px;
    height: 80px;
    margin-top: 400px;
    border-radius: 10px;
    text-align: center;
}



.dropbtn {
    margin-left: 100px;
    margin-top: 20px;
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 100px;
  }
  
  .dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
  }
  
  #myInput {
    box-sizing: border-box;
    background-image: url('searchicon.png');
    background-position: 14px 12px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border: none;
    border-bottom: 1px solid #ddd;
  }
  
  #myInput:focus {outline: 3px solid #ddd;}
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 230px;
    overflow: auto;
    border: 1px solid #ddd;
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown a:hover {background-color: #ddd;}
  
  .show {display: block;}

  #fee{
    width: 250px;
    margin-left: 20px;
    text-align: center;
    color: aliceblue;
  }